<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="">
        <nav>
            <!-- goto dashboard -->
             <!-- logout -->
              <ul>
                <li>
                    <form action="/" method="get">
                        <button type="submit" class="btn">Dashboard</button>
                    </form>
                </li>
                <li>
                    <form action="/user/logout" method="post">
                        <button type="submit" class="btn">logout</button>
                    </form>
                </li>
              </ul>
        </nav>
    </div>

    <% if (typeof cgpa !== 'undefined' && cgpa !== null) { %>
    <div class="container">
        <!-- CGPA -->
         <h2>CGPA <%= cgpa %></h2>
    </div>
    <% } %>

    <% if (!locals.semesterCount) { %>
    <div class="container">
        <div class="sameline">
            <form action="/dashboard/semester" method="post">
            <!-- semestercount -->
            <label for="">Enter Semester Count</label>
            <input type="number" name="semesterCount" placeholder="8">
            <button class="samelinebtn">Submit</button>
            </form>
        </div>
    </div>
    <% } %>

    <% if (locals.semesterCount) { %>
    <div class="container">
        <div class="sameline">
        <!-- update semester count -->
        <form action="/dashboard/semester" method="post">
             <input type="hidden" name="cgpa" value="<%= cgpa %>">
             <label for="">Update Semester Count</label>
             <input type="number" name="semesterCount" value="<%= semesterCount %>" min="1" required>
             <button type="submit" class="samelinebtn">Update</button>
        </form>
        </div>
    </div>
    
    <div class="container">
        <div class="incontainer">
            <% for( let index = 0; index < locals.semesterCount ; index++ ) { %>
            <div>
            <form action="/dashboard/semester/<%= index+1 %>" method="get">
            <!-- SEMESTER -->
            <input type="hidden" name="semester" value="<%= index+1 %>">
                <button>SEMESTER <%= index+1 %></button>
            </form>
            </div>
            <% } %>
        </div>
    <% } %>
    </div>
</body>
</html>